@import "tailwindcss";

:root {
  /* Brand & accents */
  --brand-primary: #c51230; /* Brand Red */
  --brand-sky-70: #5ea4ffb2; /* rgba(94,164,255,0.70) */
  --brand-blue-70: #006fffb2; /* rgba(0,111,255,0.70) */

  /* Surfaces */
  --surface-cream: #fefbea; /* Cream BG */
  --surface-white: #ffffff; /* White BG */
   --surface-light: #F2F2F2; /* Light Gray BG */

  /* Text */
  --text-body: #333333; /* Body text */
  --text-black: #000000; /* Pure black */
}

@theme inline {
  --color-brand-primary: var(--brand-primary);
  --color-brand-sky-70: var(--brand-sky-70);
  --color-brand-blue-70: var(--brand-blue-70);
  --color-surface-cream: var(--surface-cream);
  --colot-surface-white: var(--font-geist-mono);
  --color-surface-light: var(--surface-light);  /* main bg */
  --colot-text-body: var(--text-body);
  --colot-text-black: var(--text-black);
}
@layer components {
  .main-container {
    @apply max-w-[1320px] mx-auto px-5 xl:px-0;
  }
  /* hide horizontal scrollbar */
  
  
  @import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
}
/* Hide horizontal scrollbar */
.scrollbar-x-remove::-webkit-scrollbar:horizontal {
  display: none;
}

/* Hide vertical scrollbar */
.scrollbar-y-remove::-webkit-scrollbar:vertical {
  display: none;
}

/* Hide both */
.scrollbar-remove::-webkit-scrollbar {
  display: none;
}

/* Firefox & Edge support */
.scrollbar-x-remove,
.scrollbar-y-remove,
.scrollbar-remove {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none;    /* Firefox */
}

.radio-canada-big{

  font-family: 'Radio Canada Big', sans-serif;
}
.quicksand{
  font-family: 'Quicksand', sans-serif;
}
button{
  cursor: pointer;
}

select,
  ::picker(select){
    appearance: base-select;
    width: 200px;
    overflow: hidden;
  }
  
  ::picker(select){
    border:none;
    background: #e8e8ee;
   
  }
  option:checked{
    background: #c7c7cc;
  }
