@import "tailwindcss";

:root {
  /* Brand & accents */
  --brand-primary: #c51230; /* Brand Red */
  --brand-sky-70: #5ea4ffb2; /* rgba(94,164,255,0.70) */
  --brand-blue-70: #006fffb2; /* rgba(0,111,255,0.70) */

  /* Surfaces */
  --surface-cream: #fefbea; /* Cream BG */
  --surface-white: #ffffff; /* White BG */
   --surface-light-bg: #F2F2F2; /* Light Gray BG */

  /* Text */
  --text-body: #333333; /* Body text */
  --text-black: #000000; /* Pure black */
}

@theme inline {
  --color-brand-primary: var(--brand-primary);
  --color-brand-sky-70: var(--brand-sky-70);
  --color-brand-blue-70: var(--brand-blue-70);
  --color-surface-cream: var(--surface-cream);
  --colot-surface-white: var(--font-geist-mono);
  --color-surface-light-bg: var(--surface-light-bg)  /* main bg */
  --colot-text-body: var(--text-body);
  --colot-text-black: var(--text-black);
}
@layer components {
  .main-container {
    @apply max-w-[1320px] mx-auto px-5 xl:px-0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
}
.radio-canada-big{

  font-family: 'Radio Canada Big', sans-serif;
}
.quicksand{
  font-family: 'Quicksand', sans-serif;
}
button{
  cursor: pointer;
}
